body {
    display: flex;
    width: 100vw;
    height: 100vh;
}


/*
    BACKGROUND, LEFT / RIGHT
*/
.leftexternal,
.rightexternal {
    width: 20%;
    background-color: black;
}



/*
    SPLASH IMAGE
*/
.imageside {
    width: 30%;
}

/*
    FORM SIDE
*/

.formside {
    width: 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
}

.toptext {
}

.mainform {
}

.row1, .row2, .row3 {
    display: flex;
}


.wrap_label {
    background-color: aqua;
    flex: 3 1 0;
}

label {
    
}

.wrap_input {
    background-color:aquamarine;
    flex: 2 1 0;
}

input {

}





.confirm {
}

label {
}